.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}

.select-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: right;
    margin: 0 auto;
    max-width: 1400px;
    padding: 10px;
}

#filter-label {
    margin-top: 20px;
}

.type-select, .gen-select {
    width: 200px;
    padding: 10px;
}

.page-buttons {
    width: 100px;
    height: 40px;
}

#pagination{
    text-align: center;
    padding: 20px;
}